body {
	font-size: 10pt;
	height: 90vh;
	display: grid;
	grid-template-columns: [labels start] 2fr [Y1800] 2fr [Y1830] 2fr [Y1832] 2fr [Y1848] 2fr [Y1866] 2fr [Y1900] 2fr [Y1930] 2fr [Y1950] 2fr [Y1964] 2fr [Y1967] 2fr [Y1969] 2fr [Y1970ies] 2fr [Y1980ies] 2fr [Y1990ies] 2fr [Y1991] 2fr [Y1992] 2fr [Y1993] 2fr [Y1994] 2fr [Y1995] 2fr [Y1996] 2fr [Y1997] 2fr [Y1998] 2fr [Y1999] 2fr [Y2000] 2fr [Y2001] 2fr [Y2002] 2fr [Y2003] 2fr [Y2004] 2fr [Y2005] 2fr [Y2006] 2fr [Y2007] 2fr [Y2008] 2fr [Y2009] 2fr [Y2010] 2fr [Y2011] 2fr [Y2012] 2fr [Y2013] 2fr [Y2014] 2fr [Y2015] 2fr [Y2016] 2fr [Y2017] 2fr [Y2018] 2fr [Y2019] 2fr [Y2020] 2fr [Y2021] 2fr [Y2022] 2fr [Y2023] 2fr [Y2024] 2fr [Y2025] 2fr [Y2026] 2fr [Y2027] 2fr [Y2028] 2fr [Y2029] 2fr [Y2030] 2fr [end];
	grid-template-rows: [labels start] min-content [world-economy] min-content [business-real-estate] min-content [big-private-projects] min-content [belgium-federal-state] min-content [empty] min-content [empty1] min-content [empty2] min-content [empty3] min-content [brussels-regions-politics] min-content [empty4] min-content [empty5] min-content [city-politics] min-content [empty5] min-content [empty6] min-content [empty7] min-content [the-owner-foyer-bruxellois] min-content [empty8] min-content [upper-layer-le-marais] min-content [lower-layer-les-lucioles] min-content [events-in-the-neighbourhood] min-content [events-linked-to-the-city] min-content [citizens-initiatives] min-content [empty9] min-content [collectives-groups-individuals] min-content [empty10] min-content [empty11] min-content [empty12] min-content [end];
}

.piece-marais {
	background-color: #00ff95;
	height: fit-content;
	border: 1px solid white;
	padding: 8px;
}

.piece-lucioles {
	background-color: pink;
	border: 1px solid white;
	padding: 8px;
}

.timeline-entry {
	background-color: #cdf9b6;
	border: 1px solid white;
	padding: 8px;
}

