@font-face {
  font-family: Coconat;
  src: url(Coconat-Regular.woff);
  font-weight: regular;
}

@font-face {
  font-family: Jost;
  src: url(Jost-400-Book.otf);
}

body {
	position: relative;
	/*grid-auto-flow: row dense;*/
	font-size: 9pt;
	/* height: 90vh; */
	width: 580mm;
	height: 380mm;
	border: 1px solid;
	font-family: Jost;
	line-height: 11.5pt;
}

.grid-item, .columns {
	background-color: rgba(255, 255, 255, 0.3);
	/* border-bottom: 1px dotted #cbcbcb; */
	position: relative;
	display: grid;
	grid-auto-flow: row dense;
	grid-template-columns: [labels start] 10fr [Y1800] 3fr [Y1830] 3fr [Y1900] 3fr [Y1930] 3fr [Y1950] 3fr [Y1964] 3fr [Y1967] 3fr [Y1969] 3fr [Y1970s] 4fr [Y1980s] 4fr [Y1990s] 4fr [Y1991] 3fr [Y1992] 3fr [Y1993] 3fr [Y1994] 3fr [Y1995] 3fr [Y1996] 3fr [Y1997] 3fr [Y1998] 3fr [Y1999] 3fr [Y2000] 3fr [Y2001] 3fr [Y2002] 3fr [Y2003] 3fr [Y2004] 3fr [Y2005] 3fr [Y2006] 3fr [Y2007] 3fr [Y2008] 3fr [Y2009] 3fr [Y2010] 6fr [Y2011] 6fr [Y2012] 6fr [Y2013] 6fr [Y2014] 6fr [Y2015] 6fr [Y2016] 6fr [Y2017] 6fr [Y2018] 6fr [Y2019] 6fr [Y2020] 6fr [Y2021] 6fr [Y2022] 6fr [Y2023] 3fr [Y2024] 3fr [Y2025] 3fr [Y2026] 3fr [Y2027] 3fr [Y2028] 3fr [Y2029] 3fr [Y2030] 3fr [end];
	grid-template-rows: [labels start] min-content [world-economy] min-content [business-real-estate] min-content [big-private-projects] min-content [belgium-federal-state] min-content [empty] min-content [empty1] min-content [empty2] min-content [empty3] min-content [brussels-regions-politics] min-content [empty4] min-content [empty5] min-content [city-politics] min-content [empty5] min-content [empty6] min-content [empty7] min-content [the-owner-foyer-bruxellois] min-content [empty8] min-content [upper-layer-le-marais] min-content [lower-layer-les-lucioles] min-content [events-in-the-neighbourhood] min-content [events-linked-to-the-city] min-content [citizens-initiatives] min-content [empty9] min-content [collectives-groups-individuals] min-content [empty10] min-content [empty11] min-content [empty12] min-content [end];
}

.columns {
	height: 69pt;
	/* padding-bottom: 13pt; */
}

.rotated-year {
	text-align: center;
	transform: rotate(90deg);
	position: absolute;
	font-size: 13pt;
	transform-origin: left;
}

.piece-marais {
	/*display: none;*/
	grid-column-end: span 10;
	/*background-color: #00ff95;*/
	/* height: fit-content; */
	 /*border-left: 1px solid; */
	/*padding: 8px;*/
	color: #3c29e3;
}

.piece-lucioles {
	/*display: none;*/
	grid-column-end: span 5;
	/* border-left: 1px solid; */
	/*background-color: pink;*/
	/*padding: 8px;*/
	color: #fd43c6;
}

/*.piece-marais:before {
    content: '•';
    font-size: 13pt;
    color: #489281;
    font-family: arial;
    transform: translate(-11px, -1px);
    position: absolute;
}*/

/*.piece-lucioles:before {
    content: '•';
    font-size: 13pt;
    color: #9C27B0;
    font-family: arial;
    transform: translate(-11px, -1px);
    position: absolute;
}*/

.piece-marais.row-world-economy:before {
	content: '';
}

.piece-marais.row-world-economy {
	grid-column-end: inherit;
	font-size: 10pt;
	padding: 10pt;
	height: fit-content;
}

.timeline-entry {
	/*background-color: #cdf9b6;*/
	padding: 8px;
}

.column-title1 {
	padding-top: 9pt;
	border-left: 1px solid #eaeaea;
	height: 515mm;
	text-align: center;
	font-family: coupeur-reverse;
}

.column-title {
	padding-top: 9pt;
	text-align: center;
	font-family: coupeur-reverse;
}

.column-title1 span, .column-title span {
	font-size: 10pt;
}

.row-title {
    font-family: coupeur-reverse;
    font-size: 10pt;
    line-height: 13pt;
    /* font-weight: bold; */
    padding-left: 8px;
    padding-top: 8px;
}

.row-labels {
  /*grid-row: labels;*/
}
.row-world-economy {
 color: white;
 /*grid-row: world-economy;*/
 background: linear-gradient(90deg, #3c29e345 0%, rgba(0,212,255,0) 86%)
}
.row-business-real-estate {
 /*grid-row: business-real-estate;*/
}
.row-big-private-projects {
 /*grid-row: big-private-projects;*/
}
.row-belgium-federal-state {
 /*grid-row: belgium-federal-state;*/
}
.row-brussels-regions-politics {
 /*grid-row: brussels-regions-politics;*/
}
.row-city-politics {
 /*grid-row: city-politics;*/
}
.row-the-owner-foyer-bruxellois {
 /*grid-row: the-owner-foyer-bruxellois;*/
}
.row-upper-layer-le-marais {
 /*grid-row: upper-layer-le-marais;*/
}
.row-lower-layer-les-lucioles {
 /*grid-row: lower-layer-les-lucioles;*/
}
.row-events-in-the-neighbourhood  {
 /*grid-row: events-in-the-neighbourhood;*/
}
.row-events-linked-to-the-city  {
 /*grid-row: events-linked-to-the-city ;*/
}
.row-citizens-initiatives {
 /*grid-row: citizens-initiatives;*/
}
.row-collectives-groups-individuals {
 /*grid-row: collectives-groups-individuals;*/
}


.piece-marais.row-big-private-projects div {
    /* margin-bottom: 12pt; */
}

.piece-marais.row-big-private-projects {
	grid-column-end: span 2;
}

.icon {
    font-size: 44pt;
    transform: translate(-43px, 2p);
    position: absolute;
}

/*.temporary:before {
	transform: translate(-24px, -1px);
	content: '◉';
	font-size: 24pt;
	position: absolute;
}*/

/*.city-mayor:before {
	transform: translate(-24px, -1px);
	content: '◍';
	font-size: 24pt;
	position: absolute;
}*/

#MIPIM {
	grid-column-end: span 7;
}

.exception1 {
	grid-column-end: span 7;
}

.exception2 {
	grid-column-end: span 7;
}

.exception3 {
	grid-column-end: span 8;
}

.exception4 {
	grid-column-end: span 8;
}

.exception5 {
	grid-column-end: span 9;
}

.exception6 {
	
}

.exception7 {
	
}

.bigger1 {grid-column-end: span 6;}

.bigger2 {
	grid-column-end: span 6;
}

.bigger3 {
	grid-column-end: span 6;
}

.bigger4 {
	grid-column-end: span 8;
}

.bigger5 {
	grid-column-end: span 7;
}

.bigger6 {
	grid-column-end: span 6;
}

div#legenda {
    position: absolute;
    bottom: 40pt;
    left: 40pt;
}

div#legenda div {
    font-size: 10pt;
    line-height: 26pt;
}

