/** PURPLE **/
* {
	visibility: hidden;
}

p.split, /* Horizontal lines hiding the essay */
#front-page h2:first-of-type, /* Header on the frontpage */
[data-source="references"], [data-source="references"] *, /* Purple images*/
.essay, .essay *, /* Essay flow */
.inline-footnote, .inline-footnote *, /* Inline footnotes */
.footnote-ref, /* Footnote references */
[data-type="fragments"] h5, [data-type="fragments1"] h5 /* Headers in the fragments */
 {
	visibility: visible;
}

#intro-image-purple {
  visibility: visible;
}

[data-source="references"] .entry-content p:first-of-type {
	background: none;
}

[data-source="references"] .entry-content img,
.references img {
 	mix-blend-mode:none;
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  max-width: 100%;
}

#front-page h2:first-of-type,
.essay, .essay *,
.inline-footnote,
.footnote-ref,
[data-type="fragments"] h5, [data-type="fragments1"] h5 {
	color: black !important;
}

p.split {
	border-top: 2px solid black !important;
}
