@import 'grid.css';

@font-face {
  font-family: ChavalardStencil;
  src: url(../fonts/ChavalardStencil.otf);
}

 @font-face {
  font-family: HeptaSlab;
  src: url(../fonts/HeptaSlab-VariableFont:wght.ttf);
}

@font-face {
  font-family: Happy;
  src: url(../fonts/happy-times-at-the-ikob-webfont.woff);
}

@font-face {
  font-family: Coconat;
  src: url(../fonts/Coconat-Regular.woff);
  font-weight: regular;
}

@font-face {
  font-family: Coconat;
  src: url(../fonts/Coconat-BoldExt.woff);
  font-weight: bold;
}

@font-face {
  font-family: YoungSerif;
  src: url(../fonts/YoungSerif-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: Nocturne;
  src: url(../fonts/NocturneSerif-Regular.woff);
  font-weight: normal;
}

@font-face {
  font-family: 'Jost';
	src: url(../fonts/Jost/TrueType/Jost-400-Book.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Jost';
	src: url(../fonts/Jost/TrueType/Jost-400-BookItalic.ttf);
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Jost';
	src: url(../fonts/Jost/TrueType/Jost-700-Bold.ttf);
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Jost';
	src: url(../fonts/Jost/TrueType/Jost-500-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Jost';
	src: url(../fonts/Jost/TrueType/Jost-700-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Ranchers';
	src: url(../fonts/Ranchers-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: 'Coupeur Reverse';
	src: url(../fonts/coupeur-reverse.ttf);
	font-weight: normal;
}

body {
  color:black;
  margin: 1em;
}

:root {
	--c1: black;
	--c2: #bd25da;
	--sheet-height: 379mm;
	--sheet-width: calc(289mm * 2);
	--padding-left: 20mm;
	--padding-center-left: 15mm;
	--padding-center-right: 15mm;
	--padding-right: 20mm;
	--padding-top: 15mm;
	--padding-bottom: 15mm;
	--body-font: 'Coconat';
	--body-font-alternative: 'Jost';
	--row-height: calc((var(--sheet-height) - var(--padding-top) - var(--padding-bottom)) / 20);
	--font-size: 8pt;
	--intro-font-size: 10pt;
	--line-height: 10.5pt;
	--intro-line-height: 14pt;
}

body {
	font-size: var(--font-size);
	line-height: var(--line-height);
	font-weight: 400;
	font-family: var(--body-font);
}

.empty-page {
	grid-column: left / center-left;
	grid-row: start / page-1-end;
}

#gravure {
	max-width: 218pt;
	grid-column: 16 / span 7;
	grid-row: page-1-1 / span 2;
	/* margin-top: -1mm; */
	z-index: -10;
	text-align: right;
}

#intro-image {
	max-width: 96%;
	grid-column: 20 / span 9;
	grid-row: page-1-1 / span 3;
	/* margin-top: -1mm; */
	z-index: -10;
	text-align: right;
	/* max-width: 134px; */
	margin-left: -5pt;
}

#intro-image-purple {
	max-width: 96%;
	grid-column: 20 / span 9;
	grid-row: page-1-1 / span 3;
	/* margin-top: -1mm; */
	z-index: -10;
	text-align: right;
	/* max-width: 134px; */
	margin-left: -5pt;
}

#vu {
	grid-column: 6 / span 4;
	grid-row: page-13-9 / span 9;
	/* color: green; */
	font-family: Jost;
	font-size: 9pt;
	margin-top: -50pt;
}

.front-page {
	grid-column: 16 / span 12;
	grid-row: 2 / span 19;
}

#front-page h3 {
	font-size: 33pt;
	line-height: 0pt;
}
#table-of-contents {
	margin-top: -40pt;
	grid-row: page-1-11 / span 5;
	grid-column: 16 / span 12;
	font-family: 'Jost';
	font-size: 12pt;
	line-height: 14pt;
	column-count: 2;
	/* margin-right: 12mm; */
}

#table-of-contents h2 {
	font-family: Jost;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	font-size: 11pt;
	font-weight: normal !important;
	margin-top: -38pt;
}


#table-of-contents h3 {
	font-family: 'Coupeur Reverse';
	font-weight: normal !important;
	font-size: 24pt;
	text-transform: uppercase;
	margin-bottom: 12pt;
	margin-top: 16pt;
}

#table-of-contents h3:first-of-type {
  margin-top: 0 !important;
}



/* #tbc-part1 {
  grid-row: page-1-10 / span 2;
  grid-column: 16 / span 6;
}

#tbc-part2 {
  grid-row: page-1-10 / span 2;
  grid-column: 22 / span 6;
} */

.specifications {
	font-weight: bold;
}

h3, h4 {
	font-weight: bold;
	margin-top: var(--line-height);
}

h3 {
	margin-bottom: var(--line-height);
}

h3:first-child,
h4:first-child {
	margin-top: 0;
}

h4 {
	font-size: 90%;
	margin-top: 0;
}

#table-of-contents b {
	font-weight: 500;
}

#table-of-contents span {
	/* position: absolute;
	transform: translate(0px, -23px); */
}

#table-of-contents ul, #table-of-contents ol {
	  list-style-type: none;
	  padding: 0;
}

#table-of-contents ol {
	margin-bottom: 10pt;
}

#table-of-contents .pagination {
  /* text-align: right; */
}

#table-of-contents1 {
	grid-row: page-1-4 / span 2;
	grid-column: 17 / span 2;
}

#table-of-contents2 {
	grid-row: page-1-4 / span 2;
	grid-column: 19 / span 2;
}

#table-of-contents3 {
    grid-row: page-1-4 / span 2;
    grid-column: 21 / span 3;

}

#seperation-line {
	grid-column: center-right / span 5;
	grid-row: page-1-12;
	border-bottom: 1px solid;
}

.vertical-separator-left,
.vertical-separator-center,
.vertical-separator-right {
	grid-row: start / end;
}

.vertical-separator-left {
	grid-column: padding-left;
}

.vertical-separator-center {
	grid-column: center-left / center-right;
	background: linear-gradient(to right, transparent calc(50% - 0.5px), red calc(50% - 0.5px), red calc(50% + 0.5px), transparent calc(50% + 0.5px));
}

.vertical-separator-right {
	grid-column: padding-right;
}

.page-separator {
	grid-column: sheet-left / sheet-right;
	background: linear-gradient(to bottom, transparent calc(var(--padding-bottom) - .5px), red calc(var(--padding-bottom) - .5px), red calc(var(--padding-bottom) + 0.5px), transparent calc(var(--padding-bottom) + 0.5px));
}

#page-separator-0 {
	grid-row: page-1-padding-top;
	background: linear-gradient(to bottom, red 1px, transparent 1px);
}

#page-separator-1 {
	grid-row: page-1-end / page-2-start;
}

#page-separator-2 {
	grid-row: page-2-end / page-3-start;
}

#page-separator-3 {
	grid-row: page-3-end / page-4-start;
}

#page-separator-4 {
	grid-row: page-4-end / page-5-start;
}

#page-separator-5 {
	grid-row: page-5-end / page-6-start;
}

#page-separator-6 {
	grid-row: page-6-end / page-7-start;
}

#page-separator-7 {
	grid-row: page-7-end / page-8-start;
}

#page-separator-8 {
	grid-row: page-8-padding-bottom;
}

[data-type="text"],
[data-type="essay"] {
	hyphens: auto;
}

[data-type="text"],
[data-type="colofon"] {
	display: flex;
	flex-direction: column;
}

[data-type="essay"] h3 {
	font-weight: bold;
}

[data-type="essay"] h4 {
	font-weight: 500;
	margin-top: var(--line-height);
	break-after: avoid;
}

[data-type="essay"] h4 + blockquote {
	margin-top: 0;
}

[data-type="essay"] h4 + p {
	text-indent: 0;
}

.entry-flex-wrapper {
	flex: 1 0;
	position: relative;
}

[data-type="text"] .entry-content,
[data-type="colofon"] .entry-content {
	column-count: 2;
	column-gap: 3mm;
	column-fill: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

[data-type="colofon"] p{
	text-indent: 0pt;
}

p {
	margin: 0;
	text-indent: var(--line-height);
}

p:first-child {
	text-indent: 0;
}

[data-type="image"] p, blockquote p {
	text-indent: 0pt;
}

p.section-start {
	text-indent: 0;
}

p.section-start:not(:first-child) {
	margin-top: var(--line-height);
}

.inline-footnote.section-start + .inline-footnote.section-start {
	margin-top: 0;
}

[data-type="text"] .entry-content p {
	/*text-indent: 10pt;	*/
}

[data-type="text"] {
	grid-column-end: span 8;
}
/*
[data-type="essay"] {
	grid-column-end: span 10;
} */

[data-type="essay"] {
	font-family: var(--body-font-alternative);
	font-size: 110%;
	line-height: 125%;
  color: var(--c2);
}

[data-type="essay"] h2 {
  font-family: var(--body-font);
  font-weight: bold;
  text-transform: uppercase;
	font-size: 12pt;
	line-height: 14pt;
}

[data-type="image"] .entry-content{
	/*background: #008100;*/
	position: relative;
}

[data-type="image"] {
	grid-row: auto;
}

[data-type="image"] .entry-content{
	position: relative;
}

[data-type="image"] .entry-content {
}
/*
[data-type="image"] .entry-content p {
	max-width: 45%;
	margin-right: 1em;
	display: inline-block;
	vertical-align: top;
} */

/* [data-type="image"] .entry-content p:first-of-type {
	max-width: 100%;
} */

[data-type="image"] .entry-content p {
	text-indent: 0;
}

[data-type="image"] .entry-content p + p {
	/* margin-top: var(--line-height); */
}

[data-type="image"] .entry-content p:nth-of-type(2) {
	font-weight: 500;
}

[data-type="image"] .entry-content img {
  max-width: 100%;
}

[data-type="image"] img[alt="logo3"]{
  max-width: 30px;
  margin-left: -5px;
}
[data-type="image"] img[alt="logo2"]{
  max-width: 40px;
}

[data-source="references"] .entry-content p:first-of-type {
	  background: var(--c2);
}


[data-source="references"] .entry-content img,
.references img {
 	/* mix-blend-mode: screen;
  -webkit-filter: grayscale(100%) contrast(200%);
  filter: grayscale(100%) contrast(200%); */
  /* opacity: 1; */
  max-width: 100%;
}

[data-type="image"] p {
  font-size: 8.5pt;
  font-family: var(--body-font-alternative);
}

[data-type="song"] * {
	color: var(--c2);
}

[data-type="song"] p{
	text-indent: 0pt;
	margin-bottom: var(--line-height);
	line-height: var(--line-height);
	font-family: coconat;
	/*font-weight: bold;*/
	/*font-style: italic;*/
	font-size: var(--font-size);
	/*font-size: 11pt;*/
	color: var(--c2);
	margin-left: 20pt;
}

[data-type="fragments"] p, [data-type="fragments1"] p {
	text-indent: 0pt;
	margin-bottom: var(--line-height);
	line-height: var(--line-height);
  font-family: Jost;
	font-size: 9pt;
}


[data-type="fragments"] h1, [data-type="fragments1"] h1 {
	font-size: 20pt;
	font-family: 'Coupeur Reverse';
}

[data-type="fragments1"] h2 {
	font-size: 22pt !important;
	font-family: Ranchers;
}

[data-type="fragments"] h2 {
	display: none;
}

[data-type="fragments"] .number, [data-type="fragments1"] .number {
	font-size: 8pt;
}

[data-slug="tout-va-bien-fr"] h2,
[data-slug="tout-va-bien-nl"] h2 {
  font-family: Ranchers !important;
  display: block !important;
}

[data-type="fragments"] h3, [data-type="fragments1"] h3{
  font-family: Ranchers;
  font-size: 24pt;
  display: none;
}

[data-type="fragments"] h4{
  /* color:pink; */
}

[data-type="fragments"] h5,
[data-type="fragments1"] h5 {
	font-family: Ranchers;
	font-size: 12pt;
	font-weight: normal;
	margin-bottom: 6pt;
	line-height: 15pt;
	color: var(--c2);
	margin-top: 18pt;
	break-after: avoid;
}

[data-type="fragments"] h5:first-child,
[data-type="fragments1"] h5:first-child {
	margin-top: 0;
}

.pagenumber, .runningheader, .lecture {
	margin-top: 7.5mm;
	font-family: 'Coupeur Reverse';
	font-size: 10.5pt;
	text-indent: 0pt;
}

span.lecturenumber {
    float: left;
    margin-top: 16pt;
    margin-right: 10pt;
    font-size: 69pt;
    font-family: ranchers;
}

img {
	/*width: 100%;*/
	 /* filter: grayscale(100%); */
	/*-webkit-filter: saturate(0%) grayscale(100%) brightness(69%) contrast(1000%);*/
}

#introprint {
	/*page-break-before: always;*/
	/*page-break-after: always;*/
}

ol#post-list {
	column-count: 2;
/*	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(50px, 1fr)) [last-col-start] minmax(50px, 1fr) [last-col-end];
grid-template-rows: repeat(auto-fit, minmax(90px, min-content)) [last-line-main-grid];
grid-gap: 20px;
grid-auto-flow: row dense;*/
}

ol#post-list>li {

	/*grid-column-end: span 6;
	grid-row-end: auto;
	grid-row-end: span auto;*/
	border-bottom: 1px solid black;
	margin-bottom: 10px;
}

#intro-text {
	grid-row: 14 / 18;
	grid-column: center-right / right;
	/*column-count: 2;*/
	font-size: 12pt;
	line-height: 19pt;
	color: black;
	/* font-weight: bold; */
}

#front-page h1 {
	margin: 0;
	color: black;
	font-family: Ranchers;
	font-size: 70pt;
	letter-spacing: 3pt;
	font-weight: normal;
	/* text-transform: uppercase; */
	line-height: 71pt;
	font-weight: normal;
	background: -webkit-linear-gradient( -90deg, black 5%, #f40acf 91% );
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-stroke: 6px transparent;
	color: white;
	margin-bottom: 0px;
  display: none;
}

#front-page h1:first-of-type {
  margin-left: 120pt;
  display: none;
}

#front-page h2:first-of-type {
	font-family: Ranchers;
	/* text-transform: uppercase; */
	font-size: 58pt;
	line-height: 50pt;
	margin-left: 0pt;
	margin-top: 340pt;
	color: var(--c2);
	/* text-align: center; */
}


[data-type="text"] h2 a, [data-type="text"] h2 {
  font-family: 'Coupeur Reverse';
	text-transform: uppercase;
	line-height: 32pt;
	font-weight: normal;
	margin: 0;
	font-size: 32pt;
	margin-bottom: var(--line-height);
}

[data-type="introtext"] h2 a, h2 {
	font-family: Coconat;
	line-height: 26pt;
	font-weight: bold;
	margin: 0;
	font-size: 22pt;
	margin-bottom: var(--line-height);
}

[data-type="introtext"] p {
	line-height: var(--intro-line-height);
	font-size: var(--intro-font-size);
	font-family: Jost;
	font-size: 11pt;
}

a {
	color: black;
	text-decoration: none;
}

h1:visited {
	color:red;
}

.fr, .fr li, .fr a {
	/*color: var(--c2);*/
}

.nl, .nl li, nl h2 a {
	color: black;
}

h2 {
	/*padding-left: 15pt;*/
}

.fr:before {
	content: 'FR';
	position: absolute;
	font-family: jost;
	font-size: 8pt;
	transform: translate(-19px, -2px);
}

.nl:before {
	content: 'NL';
	position: absolute;
	font-family: jost;
	font-size: 8pt;
	transform: translate(-19px, -2px);
}

em {
  /*color:red;*/
  font-style: normal;
}

strong {
	font-weight: bold;
}

.footnote-ref {
  font-weight: bold;
  font-family: var(--body-font);
  font-size: .83em;
  line-height: 0.5em;
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-family: Jost;
  color: var(--c2);
}

ol {
	/*counter-reset: section;*/
	padding-left: 18pt;
}

/* .footnote li p, .footnote {
	margin: 0;
	font-size: 7pt;
} */

li:before {
	/*counter-increment: section;*/
	/*content: counter(section);*/
	position: absolute;
	transform: translate(-10px, 0px);
}

hr {
	display: none;
}

blockquote {
	margin: 0 0 var(--line-height) var(--line-height);
}

blockquote p {
	margin: 0;
	font-style: italic;
}

blockquote + p,
ul + p {
	text-indent: 0;
	margin-top: var(--line-height);
}

blockquote p + p {
	margin-top: var(--line-height);
}

li {
	list-style-type: none;
}

.published {
	position: running(runningTitle);
}

.number {
	/* float: left;
	font-size: 18pt;
	margin-right: 5pt;
	font-family: 'Coupeur Reverse';
	margin-top: 5pt; */
	float: left;
	font-size: 24pt;
	margin-right: 5pt;
	font-family: 'Coupeur Reverse';
	margin-top: 3pt;
	margin-left: -5pt;
}

[data-type="essay"] .number  {
  font-family: Coconat;
  font-weight: bold;
  font-size: 20pt;
  margin-left: -5pt;
  margin-right: 4pt;
  margin-top: 4pt;

}

/*p + p {
    margin: 0em 0 0em 0;
    text-indent: 44pt;
}*/

/*
.hentry:hover .entry-content {
    display: block;
}*/

/*.entry-content {
    display: none;
}*/

/*.published {
    display: inline;
    float: right;
}

.entry-title {
	display: inline;
}*/

.inline-footnote {
	float: right;
	display: block;
	position: relative;
	width: 40%;
	margin-top: var(--line-height);
	margin-right: 0;
	margin-bottom: var(--line-height);
	margin-left: 5mm;
	clear: right;
	font-family: var(--body-font-alternative);
	text-indent: 0;
  color: var(--c2);
}

.inline-footnote:before {
	position: absolute;
	right: calc(100% + 1mm);
	content: attr(data-num) '.';
}

.inline-footnote-paragraph:first-child {
	text-indent: 0;
}

/* .inline-footnote :first-child {
	margin-top: 0;
	text-indent: 0;
} */

.footnote .footnote-backref {
	display: none;
}

div.footnote {
	display: none;
}

[data-type="essay"] div.footnote {
	display: block;
}

[data-type="essay"] .inline-footnote {
	display: none;
}

[data-type="essay"] .footnote ol {
	padding-left: 0;
	margin-top: var(--line-height);
}

[data-type="essay"] .footnote li {
	margin-top: var(--line-height);
}

[data-type="essay"] .footnote li:first-of-type {
	margin-top: 0;
}

@page {
	size: 578mm 380mm;
	margin: 0mm;
}

@media print{
	body {
			margin: 0;
			padding: 0;
	}

	#content, .page-separator, .vertical-separator, .vertical-separator-center, #page-separator-0 {
		border: none;
		background: none;
	}

	.entry-flex-wrapper {
		/* overflow: hidden; */
	}

	img {
		-webkit-filter: none !important;
		-o-filter: none !important;
		-moz-filter: none !important;
		filter: none !important;
	}
}

[data-type="essay"] h2 {
	font-size: 14pt !important;
	line-height: 15pt !important;
}

[data-type="essay"][lang="nl"] {
	flow-into: essayNL;
	/*display: none;*/
}

[data-type="essay"][lang="fr"] {
	flow-into: essayFR;
	/*display: none;*/
}

.essay {
	position: relative;
}

.essay * {
	color: var(--c2) !important;
}

.essay-nl .flowTrack {
	flow-from: essayNL;
}

.essay-fr .flowTrack {
	flow-from: essayFR;
}

.essay blockquote {
	margin: var(--line-height) 0 var(--line-height) 0;
}

.essay blockquote:first-of-type {
	margin-top: 0 !important;
}

.essay blockquote p {
    /* padding: 0 !important; */
    margin-bottom: 0pt !important;
    /*color: red;*/
}

.essay blockquote + p {
	text-indent: 0;
}

[data-type="essay"] li:first-child,
[data-type="essay"] h4:first-child,
[data-type="essay"] p.section-start:first-child {
	margin-top: 0 !important;
}

[data-type="essay"] ol,
[data-type="essay"] ol li {
	list-style-type: decimal;
}

[data-type="essay"] .footnote {
	break-before: column;
}

.break-before {
	break-before: always;
	-webkit-column-break-before: always;
}


[data-type="text"] ul {
	padding-left: 3mm;
}

[data-type="text"] ul li {
	position: relative;
}

[data-type="text"] ul li:before {
	content: "–";
	position: absolute;
	transform: initial;
	right: calc(100% + 1.5mm);
}

/* [data-source="references"] .entry-content img {
	-webkit-filter: none;
	filter: none;
	mix-blend-mode: initial;
} */

figure img {
	max-width: 95%;
}

[data-slug="fragmenten-extraits"]:before,
[data-slug="fragmenten-extraits-2"]:before,
[data-slug="fragmenten-extraits-2"]:before,
[data-slug="fragmenten-extraits-3"]:before {
	display: none;
}

figure {
	margin-top: var(--line-height);
}

figure p {
	text-indent: 0;
}
