{% extends "base.html" %}
{% block content %}
<style>
 cssregion * {
    block-size: initial !important;
    inline-size: initial !important;
 }
</style>
<section id="content">
    <div class="vertical-separator-left"></div>
    <div class="vertical-separator-center"></div>
    <div class="vertical-separator-right"></div>
    <div id="empty-page" class="empty-page"></div>
    <div id="front-page" class="front-page">
        <h1>Melancholie <br>aan de 5 blokken</h1>
         <h1>Mélancolie aux 5 blocs</h1>
         <h2>Brussels Brecht-Eislerkoor</h2>
    </div>


    <!-- <p class="pagenumber" style="grid-row: page-1-padding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">1</p> -->
    <p class="pagenumber" style="grid-row: page-2-padding-top / span 1; grid-column: 1; text-align: right;">2</p>
    <p class="pagenumber" style="grid-row: page-2-padding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">3</p>
    <p class="pagenumber" style="grid-row: page-3-padding-top / span 1; grid-column: 1; text-align: right;">4</p>
    <p class="pagenumber" style="grid-row: page-3-padding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">5</p>
    <p class="pagenumber" style="grid-row: page-4-padding-top / span 1; grid-column: 1; text-align: right;">6</p>
    <p class="pagenumber" style="grid-row: page-4-padding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">7</p>
    <p class="pagenumber" style="grid-row: page-5-padding-top / span 1; grid-column: 1; text-align: right;">8</p>
    <p class="pagenumber" style="grid-row: page-5-padding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">9</p>
    <p class="pagenumber" style="grid-row: page-6-padding-top / span 1; grid-column: 1; text-align: right;">10</p>
    <p class="pagenumber" style="grid-row: page-6-padding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">11</p>
    <p class="pagenumber" style="grid-row: page-7-padding-top / span 1; grid-column: 1; text-align: right;">14</p>
    <p class="pagenumber" style="grid-row: page-7-padding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">15</p>
    <p class="pagenumber" style="grid-row: page-8-padding-top / span 1; grid-column: 1; text-align: right;">16</p>
    <p class="pagenumber" style="grid-row: page-8-padding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">17</p>
    <p class="pagenumber" style="grid-row: page-9-padding-top / span 1; grid-column: 1; text-align: right;">18</p>
    <p class="pagenumber" style="grid-row: page-9-spadding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">19</p>
    <p class="pagenumber" style="grid-row: page-10-padding-top / span 1; grid-column: 1; text-align: right;">20</p>
    <p class="pagenumber" style="grid-row: page-10-padding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">21</p>
    <p class="pagenumber" style="grid-row: page-11-padding-top / span 1; grid-column: 1; text-align: right;">22</p>
    <p class="pagenumber" style="grid-row: page-11-padding-top / span 1; grid-column: span 1 / sheet-right; text-align: left;">23</p>
    <!-- <p class="pagenumber" style="grid-row: page-12-padding-top / span 1; grid-column: 1; text-align: right;">24</p> -->

    <p class="split" style="grid-row: page-2-16 / span 1; grid-column: left / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-2-16 / span 1; grid-column: center-right / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-3-18 / span 1; grid-column: left / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-3-18 / span 1; grid-column: center-right / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-4-16 / span 1; grid-column: left / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-4-16 / span 1; grid-column: center-right / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-5-16 / span 1; grid-column: left / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-5-16 / span 1; grid-column: center-right / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-6-14 / span 1; grid-column: left / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-6-14 / span 1; grid-column: center-right / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-7-14 / span 1; grid-column: left / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-7-14 / span 1; grid-column: center-right / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-8-16 / span 1; grid-column: left / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-8-16 / span 1; grid-column: center-right / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-9-16 / span 1; grid-column: left / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-9-16 / span 1; grid-column: center-right / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-10-16 / span 1; grid-column: left / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-10-16 / span 1; grid-column: center-right / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <p class="split" style="grid-row: page-11-17 / span 1; grid-column: left / span 12; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p>
    <!-- <p class="split" style="grid-row: page-11-17 / span 1; grid-column: center-right / span 6; border-top: 2px solid #bd25da; transform: translate(0px, -15px);"></p> -->

<!--     <p class="lecture" style="grid-row: page-1-sheet-start / span 1; grid-column: center-right / right; text-align: center">Lecture 1</p>
    <p class="lecture" style="grid-row: page-2-sheet-start / span 1; grid-column: left / center-left; text-align: center">Lecture</p>
    <p class="lecture" style="grid-row: page-2-sheet-start / span 1; grid-column: center-right / right; text-align: center">Lecture 1</p>
    <p class="lecture" style="grid-row: page-3-sheet-start / span 1; grid-column: left / center-left; text-align: center">Lecture</p>
    <p class="lecture" style="grid-row: page-3-sheet-start / span 1; grid-column: center-right / right; text-align: center">Lecture 1</p>
    <p class="lecture" style="grid-row: page-4-sheet-start / span 1; grid-column: left / center-left; text-align: center">Lecture</p>
    <p class="lecture" style="grid-row: page-4-sheet-start / span 1; grid-column: center-right / right; text-align: center">Lecture 1</p> -->
    <!-- <p class="lecture" style="grid-row: page-4-sheet-start / span 1; grid-column: center-right / right; text-align: center">Lecture 1</p> -->

    <img class="references" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/Image5B_gravure-lino_non-crop-nb.jpg" id="gravure">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/cover-title-black.png" id="intro-image">
    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/cover-title-purple.png" id="intro-image-purple">
<div id="table-of-contents">
    <h2><b>In deze krant </b> · Dans ce journal </h2>

    <!-- <div id="tbc-part1"> -->
    <h3>Feiten · Faits</h3>
    <ol>
        <ul><b>De 5 blokken</b> · Les 5 blocs<span class="pagination"> . . . . . . . . . . . . . . . . . . . . . . . . p.2</span></ul>
        <ul><b>De sloop is beslist</b> · C'est décidé: on va démolir<span class="pagination"> . . . . . . . . . p.3</span></ul>
        <ul><b>De Fabriekswijk in de jaren 1800</b><br> · Le quartier des fabriques en 1800 . . . . . . . . . . . . . . . . p.4–5</ul>
        <ul><b>De Duivelshoek</b> · Le Coin du Diable . . . . . . . . . . . . . . . p.6–7</ul>
        <ul><b>De Groupe Structures</b> · Le Groupe Structures. . . . . . . . .  p.8–9</ul>
        <ul><b>Realco? Ken ik niet!</b> · Realco? Connais pas!. . . . . . . . . p.10–11</ul>
    </ol>

<br>
<br>
<br>
<br>
<br>
<br>


    <h3>Productie · Production</h3>
    <ol>
        <ul><b>Waarom revolteren ze niet?</b>&nbsp;·&nbsp;Pourquoi ne se révoltent-ils pas? ↓</ul>
        <ul><b>Over het Brecht-Eislerkoor</b><br> · Que fait notre chorale aux 5 blocs? . . . . . . . . . . . . .  p.20–21</ul>
        <ul><b>Rabot, Allemeersch in residence</b><br>  · Rabot, Allemeersch en résidence . . . . . . . . . . . . . . . p.14–15</ul>
        <ul><b>Makers (colofon)</b>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . p.24 </ul>
        <ul><b>Meer weten</b> · En savoir plus . . . . . . . . . . . . . . . . . . . . . . p.24</ul>
    </ol>

    <h3>Melancholia</h3>
    <ol>
        <ul><b>Essay: Onder het moeras, de lichtjes</b> <br> · Sous le marais, les lucioles . . . . . . . . . . . . . .  . . .  . . ongoing </ul>
        <ul><b>Tout Va Bien + Fragmenten</b> . . . . . . . . . . . . . .  . . . . . p.22–23</ul>


    </ol>
    <!-- </div> -->
</div>

<div id="vu">
  <p>v.u. BBEK, A. Beernaerstraat 28A, 1170 Brussels</p>
</div>

<!-- <div id="seperation-line"></div> -->
{% for category, articles in categories %}
    {% for article in articles %}
        {% if article.type == 'image' %}
            {% include 'partials/article_image.html' %}
        {% elif article.type != 'essay' %}
            {% include 'partials/article_text.html' %}
        {% endif %}
    {% endfor %}
{% endfor %}
<!-- /#posts-list -->
</section><!-- /#content -->
{% for category, articles in categories %}
    {% for article in articles %}
        {% if article.type == 'essay' %}
            {% include 'partials/article_essay.html' %}
        {% endif %}
    {% endfor %}
{% endfor %}
<script>
    (function () {
        for (var sheet = 2; sheet <= 12; sheet++) {
            for (var c = 1; c <= 8; c++) {
                var column = document.createElement('section');
                if (sheet == 3) {
                    column.style.gridRowStart = 'page-' + sheet + '-18';
                }
                // else if (sheet == 5 && c < 5) {
                //     column.style.gridRowStart = 'page-' + sheet + '-13';
                // }
                else if (sheet == 6) {
                    column.style.gridRowStart = 'page-' + sheet + '-14';
                }
                else if (sheet == 7) {
                    column.style.gridRowStart = 'page-' + sheet + '-14';
                }
                else if (sheet == 11) {
                    column.style.gridRowStart = 'page-' + sheet + '-17';
                }
                else {
                    column.style.gridRowStart = 'page-' + sheet + '-16';
                }
                column.style.gridRowEnd = 'page-' + sheet + '-end';
                column.style.gridColumnStart = (c - 1) * 3 + ((c > 4) ? 4 : 2);
                column.style.gridColumnEnd =  c * 3 + ((c > 4) ? 4 : 2);
                if (sheet <= 6) {
                    column.classList.add('essay', 'essay-nl');
                }
                else {
                    column.classList.add('essay', 'essay-fr');
                }
                var flowTrack = document.createElement('section');
                flowTrack.style.position = 'absolute';
                flowTrack.style.top = 0;
                flowTrack.style.right = 0;
                flowTrack.style.bottom = 0;
                flowTrack.style.left = 0;
                flowTrack.classList.add('flowTrack');
                column.appendChild(flowTrack);
                document.getElementById('content').appendChild(column);
            }
        }
    })();
</script>

<script>
    function getContentHeight (el) {
        var top = Infinity, bottom = -Infinity;

        for (var i = 0; i < el.children.length; i++) {
            var rect = el.children[i].getBoundingClientRect();
            top = Math.min(top, rect.top);
            bottom = Math.max(bottom, rect.bottom);
        }

        return bottom - top;
    }

    function fitContent (el) {
        var contentHeight = getContentHeight(el),
            span = 0
            promise = new Promise(function (resolve, reject) {
                function step () {
                    if (el.getBoundingClientRect().height < contentHeight && span < 20) {
                        span += 1;
                        el.style.gridRowEnd = 'span ' + span.toString();
                        window.requestAnimationFrame(step);
                    } else {
                        resolve();
                    }
                }

                step();
            });
        return promise;
    }

    // window.addEventListener('load', function () {
    //     var gridItems = document.querySelectorAll('#content > *'),
    //         i = 0,
    //         step = function () {
    //             if (i < gridItems.length) {
    //                 var styles = window.getComputedStyle(gridItems[i]);
    //                 if (styles.gridRowEnd == '' || styles.gridRowEnd == 'auto') {
    //                     fitContent(gridItems[i]).then(function () {
    //                         i++;
    //                         step();
    //                     });
    //                 } else {
    //                     i++;
    //                     step();
    //                 }
    //             } else {
    //                 console.log('Done!');

    //                 var script = document.createElement('script');
    //                 script.src = '{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/css-regions-polyfill.min.js';
    //                 document.body.append(script);
    //             }
    //         }
    //     step();
    // });

    window.addEventListener('load', function () {
        var script = document.createElement('script');
        script.src = '{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/css-regions-polyfill.min.js';
        document.body.append(script);
    });
</script>
{% endblock content %}
