@font-face {
  font-family: 'Coupeur Monospace Bold';
  src: url('CoupeurMonospace-Bold.eot'); /* IE9 Compat Modes */
  src: url('CoupeurMonospace-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CoupeurMonospace-Bold.woff') format('woff'), /* Modern Browsers */
       url('CoupeurMonospace-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CoupeurMonospace-Bold.svg#fcf36b8f65c0f0737cd36a2be6922659') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Coupeur Monospace Normal';
  src: url('CoupeurMonospace-Normal.eot'); /* IE9 Compat Modes */
  src: url('CoupeurMonospace-Normal.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('CoupeurMonospace-Normal.woff') format('woff'), /* Modern Browsers */
       url('CoupeurMonospace-Normal.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('CoupeurMonospace-Normal.svg#4b219f539d302a6ffd9fd41e2da16172') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

