<article class="hentry" style="{% if article.colstart %}grid-column-start: {{ article.colstart }};{% endif %}{% if article.rowstart %}grid-row-start: {{ article.rowstart }};{% endif %}{% if article.colend %}grid-column-end: {{ article.colend }};{% endif %}{% if article.rowend %}grid-row-end: {{ article.rowend }};{% endif %}{% if article.rows %}grid-row: {{ article.rows }};{% endif %}{% if article.cols %}grid-column: {{ article.cols }};{% endif %}" data-type="{{ article.type }}" data-source="{{ article.source }}">
    <div class="entry-content {% if article.category %}{{ article.category }}{% endif %}" style="{% if article.maxwidth %}max-width: {{ article.maxwidth }}%;{% endif %}
    {% if article.rotate %}transform: rotate({{ article.rotate }}){% endif %}
    {% if article.marginleft %}margin-left: {{ article.marginleft }};{% endif %}">{{ article.content }} </div><!-- /.entry-content -->
</article></li>
