<article class="hentry {% if article.lang %}{{ article.lang }}{% endif %}" data-type="{{ article.type }}" {% if article.lang %}lang="{{ article.lang }}"{% endif %}>
    <header>
        <h2 class="entry-title" style="{% if article.whitespace %}white-space: {{ article.whitespace }};{% endif %}">{{ article.title }}</h2> 
    </header>
    <div class="entry-content">
        {{ article.content }}
    </div>
</article>