<article class="hentry {% if article.lang %}{{ article.lang }}{% endif %}" data-type="{{ article.type }}" style="{% if article.colstart %}grid-column-start: {{ article.colstart }};{% endif %}{% if article.rowstart %}grid-row-start: {{ article.rowstart }};{% endif %}{% if article.colend %}grid-column-end: {{ article.colend }};{% endif %}{% if article.rowend %}grid-row-end: {{ article.rowend }};{% endif %}{% if article.rows %}grid-row: {{ article.rows }};{% endif %}{% if article.cols %}grid-column: {{ article.cols }};{% endif %}{% if article.marginbottom %}margin-bottom: {{ article.marginbottom }};{% endif %}{% if article.borderbottom %}border-bottom: {{ article.borderbottom }};{% endif %}" data-type="{{ article.type }}" {% if article.lang %}lang="{{ article.lang }}"{% endif %} data-slug="{{ article.slug }}">
    <header>
        <h2 class="entry-title" style="{% if article.whitespace %}white-space: {{ article.whitespace }};{% endif %}">{{ article.title }}</h2>
    </header>
    <div class="entry-flex-wrapper">
        <div class="entry-content" style="{% if article.count %}column-count: {{ article.count }};{% endif %}{% if article.fill %}column-fill: {{ article.fill }};{% endif %}">
            {{ article.content }}
        </div>
    </div>
</article>
