{% extends "base.html" %}
{% block body_class %}index{%endblock%}
{% block content %}

<div id="hackstuff">
            <p class="data date"></p>
            <p class="data time"></p>
            <p class="data your-password"></p>
            <p class="data ip"></p>
            <p class="data computer"></p>
            <p class="data visit-time"></p>
            <p class="data coordinates"></p>
            <p class="data location"></p>
            <p class="data os"></p>
            <p class="data browser"></p>
            <p class="data browserversion"></p>
            <p class="data month"></p>
            <p class="data cookies"></p>
            <p class="data computer1"></p>
            <p class="data language"></p>
            <p class="data ietsanders"></p>
            <div id=mapholder></div>
        </div>

<script src="{{ SITEURL }}/theme/js/tags.js?20190224"></script>
<script>
    


</script>

<script src="{{ SITEURL }}/theme/js/categories.js?20190224"></script>
<script src="{{ SITEURL }}/theme/js/extra.js"></script>


<script src="{{ SITEURL }}/theme/js/print.js?20190224"></script>
{% endblock content %}