=Digital Media Project=

==First Weeks==
<div style="display: block;">
<div style="font-size:13px; width: 250px; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:inline; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
Publishing from browser
</div>
These 4 weeks I dived into the possibilites of printing from your browser. My interest originated from redesigning Finnegans Wake by James Joyce fully in the browser. By applying CSS styles and special functions for the 'cmd' + 'p' query I was able to make a new design without the use of grand software like InDesign.
</div>

<div style="font-size:13px; width: 250px; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:inline; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
What did i learn 
</div>
* new tools to do web2print
* libraries
* more knowledge about open source publishing
* learned the possibilities of paged media:
* setup a layout with first page, cover etc. give the content an order
* website can be totally different from print
</div>

<div style="font-size:13px; width: 250px; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:inline; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
Why publish printed documents with HTML?
</div>

*  the tools are Open Source and/or Free Software
*  there is a huge ecosystem (esp. in comparison to other FLOSS publishing tools)
*  plain text file formats enable collaboration (git, etherpad)
*  convergence between print and screen

</div>


<div style="font-size:13px; width: 250px; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:inline; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">Tools
</div>

* Les cahiers du studioCollaborative and chronological documentation tool for an online and live note taking.
* OSP’s HTML2PRINT is a boilerplate to start a print project using HTML, less/CSS and Javascript/Jquery. It was used for workshops, thesis and more…
* Libriis: sister project of HTML2PRINT, libriis allows you to write and organize your contents with markdown, design your layout with css and js, export to pdf and share your work with git.
* Brass Print Tool: An article about Villa Hermosa’s process to generate PDF flyers from a unique database.
*  PDFutils: set of scripts to use and convert RGB pdfs into color separated CMYK. It includes HTMLpages overviews of each CMYK plates.
*  The Sausage machine: For texts in ePub, icml or html format.
*  hybrid publishing Group: deliver multi-format publishing solutions by designing technology workflows, upskilling publishing teams and applying new strategies to publishing models.
*  Bindery.js: a library for designing printable books with HTML and CSS.
</div>

<div style="font-size:13px; width: 250px; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:inline; margin: 20px; float:left; padding:20px;">
 <div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
Research
</div>
'''PrePostPrint'''
* research group interested in alternative free publishing workflows
* creation of hybrid and printed publications with web technologies
* "Coding becomes a design tool that permits to reinvent the editorial process, and allows to continuously question and re-invent publishing forms and formats.

'''Paged Media'''
* A blog which advocates for innovative approaches to making books in browsers. Its mission is to educate and inspire publishers to use HTML, CSS and JavaScript(JS) to produce print and paginated electronic content.

'''OSP'''

'''Critical Atlas of Internet'''
* For her diploma “Critical Atlas of Internet”, Louise Drulhecreated a book that owns an infinity of formats. It is a unique computer code with an infinite number of display possibilities, both online (websites, etc.) and on paper. In an idea of responsive print, the publishing has an adaptive format. Based on the CSS print rules, the layout is generated automatically for each new format, and continually adapted and readapted from book to poster format.


</div>

<div style="font-size:13px; width: 250px; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:inline; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
Working on right now
</div>
During the sprint weeks, we were introduced to Pelican. Together with Gijs from Open Source Publishing we dove into html to print and Pelican. I am now continuing on this piece of code. As a database I use the creative writing department's texts which they want to have a book made out of. I'm going to create this book by placing the content into a website where you could filter and sort what u want to have in your publication, and from there on directly print it from the browser. So the things i'm working on are;

- A website which would function as an index of what you would want to print

- A filter / tag system to sort the content the way u want

- 2 stylesheets; 1 for web, 1 for print. The website looks totally different than the publication.

</div>

<div style="font-size:13px; width: 250px; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:inline; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
</div>
[[Image:Schermafbeelding 2019-04-05 om 15.10.47.png|250px|Image: 250 pixels]]

</div>

<div style="font-size:13px; width: 250px; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:block; margin: 20px; float:left; padding:20px;">

[[Image:Schermafbeelding 2019-04-05 om 15.11.26.png|250px|Image: 250 pixels]]

</div>



<div style="font-size:13px; width: 80vw; background-color: white;border: 0px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:block; margin: 20px; float:left; padding:20px;">
=Last Weeks=
</div>

<div style="font-size:13px; width: 80vw; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:block; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
Code
</div>

Included all tags in authors
<pre>
<code>
OUR_AUTHORS = ['Eline', 'Francis', 'Fred', 'Hanan', 'Ilse', 'Iris', 'JARED', 'Lars', 'Lotte', 'Odette', 'Tessa', 'Tim', 'primary', 'secondary', 'Femke 1']
</code>
</pre>

So that we can later on eliminate the ones which are not in this list

<pre>
<code>
<section onclick="showCategorylist()" id="taglist" class="show-all">
       <p class="specification">Tags:</p>
            {% for list_tag, _ in tags|sort %}
                {% if list_tag |lower not in OUR_AUTHORS | lower %}
                    <a id="tagnames" onclick="showByClass('{{ list_tag }}')"> {{ list_tag }}</a>
                {% endif %}
            {% endfor %}
            <p class="result"></p>
            <span class="show-all-toggle"></span>
    </section>
</code>
</pre>

</div>


<div style="font-size:13px; width: 80vw; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:block; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
Filtering system
</div>
<pre>
<code>
  function showByClass(className){
        tagname = document.getElementsByClassName(className)

        for (i = 0; i < tagname.length ; i++) {
        //console.log(tagname[i])
        tagname[i].style.display = "block";
        };
        if(selection.includes(className)){
            selection.pop(className)
            //set button as unselect
        }
        else{
            selection.push(className) //here we store our selected classnames
            //set button as selected
        }
        console.log('currently selected tags: '+selection)
    }

</code>
</pre>
</div>

<div style="font-size:13px; width: 80vw; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:block; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
Filtering system for secondary/primary
</div>
<pre>
<code>
    function hidePrimaryOrSecondary(className){
        var hide
        if(className == 'secondary'){
            hide = 'primary'
           }
        if(className =='primary') {
            hide = 'secondary'
        }
        console.log('hiding: '+hide)
        selected_tags = document.getElementsByClassName(hide)
            for(i=0;i<selected_tags.length;i++){
                // console.log(selected_tags[i])
                selected_tags[i].style.display="none"
                selected_tags[i].style.visibility="hidden"
        }
    }

</code>
</pre>
</div>

<div style="font-size:13px; width: 80vw; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:block; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
Adding metadata
</div>

In the static extra.js file
<pre>
<code>
            function showVisitTime() {
                var counter = 0;
                setInterval(function () {
                  ++counter;
                  $('.visit-time').text( "The grass has been watered for " +  counter + " seconds" );
                }, 1000);
              }


            function showBrowserSystem() {
                var n;
                var ua = navigator.userAgent;
                var un = navigator.appCodeName;
                var cookies = navigator.cookieEnabled;
                var language = navigator.language;
                var version = navigator.appVersion.substr(0, 4); 
                var OS = navigator.appVersion.match( /(\()(.*?)(?=\))/g )[0].replace('(', '');
                var split = OS.indexOf(';');
                var computer = OS.substr( 0, split );
                var os = OS.substring(split + 1);
                var ietsanders = navigator.appName;

                if( computer.substring(0,1) == 'a' || computer.substring(0,1) == 'i' || computer.substring(0,1) == 'o' ) {
                    n = 'n';
                    console.log( "YEP");
                } else {
                    n = '';
                }

                $('.computer').text( "Your device is a" + n + " " + computer);
                $('.os').text("The version you use is " + os );
                $('.cookies').text("Cookies are enabled:  " + cookies );
                $('.language').text("Browser language is " + language );
                $('.browserversion').text("Browser version is " + version );
                $('.ietsanders').text("Iets anders is " + ietsanders );

            }


            function showTime() {
                setInterval( function() { 
                    var d = new Date();

                    var month = d.getMonth()+1;
                    var day = d.getDate();

                    var date = 
                        (day<10 ? '0' : '') + day + '-' +
                        (month<10 ? '0' : '') + month + '-' +
                        d.getFullYear() ;
                        
                    var time = new Date($.now());

                    var currentdate = new Date(); 

                    var hours = currentdate.getHours();
                    if( hours<10 ){ hours = '0' + hours};
                    var minutes = currentdate.getMinutes();
                    if( minutes<10 ){ minutes = '0' + minutes};
                    var seconds  = currentdate.getSeconds();
                    if ( seconds<10 ){ seconds = '0' + seconds};

                    var datetime =    hours + ":"  
                                    + minutes + ":" 
                                    + seconds;

                    $(".date").text( "The grass is mowed on " + date );
                    $(".time").text( "The exact time of mowing was " +  datetime );
                }, 1000);
            }

            function toggleHeaderButtonSmall(ViewVisible) {
                $('.header-button-small').click( function() {
                    $('.header-buttons').slideToggle('fast');
                    if( ViewVisible == true ) {
                        $(this).css({
                            'color' : '#ccc'
                        })
                        ViewVisible = false;
                    } else {
                        $(this).css({
                            'color' : 'rgb(50, 0, 255)',
                        })
                        ViewVisible = true;
                    }
                });
            }


            $(document).ready( function() {

                $('#Landing').mouseover( function() {
                    $('.landing-title').focus();
                })

                var myVid= $("#iframe");
                myVid.muted=true;

                // formatLinks();
              
               
         
              

                showTime();
                showVisitTime();
                showBrowserSystem();

                // setImageDistance();

                $("img.side-image").lazyload();

                $('header').click( function() {
                    $("pre").css({
                        "width" : $(window).width(),
                        "height" : $(window).height(),
                        "margin-left" : -50 + "%"
                    });

                    // $('pre').html( $('body').html() );
                    console.log( $('body').text() );
                });
                $('.code-block').keyup( function() {
                   viewCode();

                });
               
                $('#Landing').focus();

            });



            $(window).resize( function () {
                setHeightContent();
                placeReferences(true);
                showPercentage();

            });
</code>
</pre>

In index.html
<pre>
<code>
<div id="hackstuf">
            <p class="data date"></p>
            <p class="data time"></p>
            <p class="data your-password"></p>
            <p class="data ip"></p>
            <p class="data visit-time"></p>
            <p class="data coordinates"></p>
            <p class="data location"></p>
            <p class="data computer"></p>
            <p class="data os"></p>
            <p class="data browser"></p>
            <p class="data browserversion"></p>
            <p class="data cookies"></p>
            <p class="data language"></p>
            <p class="data ietsanders"></p>
            <div id=mapholder></div>
        </div>
</code>
</pre>
</div>

<div style="font-size:13px; width: 80vw; background-color: #ffffc7;border: 1px solid;padding: 10px;box-shadow: 5px 10px 18px #888888; font-family:courier;Times New Roman;serif;padding:5px; list-style-type: none; display:block; margin: 20px; float:left; padding:20px;">
<div style="-webkit-text-stroke: 1px blue; font-size:20pt; color: white;">
Showing new filterlist when previous is selected
</div>
<pre>
<code>
      function showTaglist() {
        document.getElementById("taglist").style.display="block";
    }

    function showCategorylist() {
        document.getElementById("categorylist").style.display="block";
    }

</code>
</pre>
</div>
